<h1>List of movies</h1>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col">
      <p><%= movie.overview %></p>
      <%= image_tag movie.poster_url, class: 'image-responsive' %>
    </div>
  <% end %>
</div>
